.container {
	background-color: white;
}

#nav-bar {
  width: 100%;
  text-align: center;
  padding: 20px;
   } 

#nav-bar li {
	display: inline;
   }

#nav-bar a:link {
   color:black;
   font-family: avenir;
   padding: 8px 15px;
   text-decoration: none;
   font-family: avenir;
   font-size: 15px;
   text-transform: uppercase;  
}

#nav-bar a:hover {
    color:#00B2EE; /*unvisited link*/
}
 /*is there a quicker way to do this?*/
  
#nav-bar a:visited {
       color:red; /*visited link*/
}


#nav-bar .here a:link {
	font-weight: bold;
	text-decoration: underline;
}


#logo-info h1 {
    text-transform: uppercase;
    font-family: avenir;
    text-align: center;
    color:#00B2EE;
    font-size:30px;
    font-weight: bolder;
}

#logo-info h2 {
color: #FF7F24;  
font-size:28px; 
font-family: avenir; 
line-height: 34px;
 }

#logo-info p {
    color: black;
    font-size:18px;
    font-family: avenir;
    text-align:justify; 
    line-height: 25px;   
}

#main-logo img{
float:right;
}  /*why isn't this working?*/

 
#ballot-pg {
  padding-top:350px;
   background-color:red; 
   }

#ballot-pg h3 {
    font-family: avenir;
    background-color:#FF7F24;
    color:white;  
    font-size:30px;  
    text-align: left; 
    padding:10px 70px 7px 10px;
   }

#ballot-pg h4 {
font-family: avenir;
}

#nat-issues ol {
     list-style: none;
}



#nav-bar ol li {
  font-family: avenir;
    text-align: center;
    color:#00B2EE;       
}

#nat-issues {
list-style-type: none;
}

#nat-issues li {
font-family: avenir;
font-size: 20px;
}

.interior {
	background: green;
}

.interior #content h3 {
	background: orange;
}

.registration {
	background: yellow;
}

#@media only screen and (max-width: 400px) {
	
#header .nav {
		width: 100px;
		background: red;
	}
	
}

