.container {
	background-color: white;
}


#nav {
	font: avenir;
	text-transform: uppercase; 
	width: 100%;
	float: left;
	padding: 0;
	list-style: none;
	background-color: yellow;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

#nav li {
	float: left;
}


# nav li a {
	display: block;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
		color: #069;
		border-right: 1px solid #ccc;
}

a.link {  /*is there a quicker way to do this?*/
  color:#000000; /*unvisited link*/
}
a:visited {
       color:#FF7F50; /*visited link*/
	}
	
a:hover {
    color: #00FFFF;
}

a {
	text-decoration: none;
}


#logo {
	background: red;
	width: 200px;
}
#header .nav {
	float: right;
	background: pink;
}

#header .nav li {
	float: left;
	margin-right: 10px;
}

.progress {
	list-style: none;
}


#content .progress {  /*the . in progress targets the class of progress*/
	float: right;
}

label {
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: .2em;
	color:#8e8d8d;
}

#login-submit {
	clear: left;
	padding-top: 15px;
	border-top: 1px solid #eee;
}

label.error {
	text-transform: inherit;
	letter-spacing: 0;
	color: #dc4545;
	font-size: 16px;
	font-weight: 500;
}

input[type="text"].error {
	color: #fff;
	background: #faa;
}

#login-submit label,
legend {
	display:none;
}

input[type="text"]
 {
 font-size: 21px;
 border-color: none;
 background-color: #eee;
}


input[type="text"]:focus {
	color:#279fc7;
	border: none;
	outline: none;	
}

input[type="submit"],
input [type="submit"]:hover {
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: .2em;
	border: none;
	color:#fff;
	background:#00ddff;  
}

input[type="submit"]:hover {
	background: #6666ec;
}

@media only screen and (max-width: 400px) {
	
	#header .nav {
		width: 100px;
		background: red;
	}
	
}

